In [96]:
import pandas as pd
import numpy as np
from datetime import datetime
import string

In [15]:
!ls ../data_full/raw/twitter_data/IEEE

full_dataset-release.csv

In [16]:
fp = "../data_full/raw/twitter_data/IEEE/full_dataset-release.csv"
df = pd.read_csv(fp)

/tmp/ipykernel_14202/368226232.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fp)

In [18]:
df.shape

(1395450, 14)

In [23]:
df.head(15)

,Unnamed: 0,TWEET,STOCK,DATE,LAST_PRICE,1_DAY_RETURN,2_DAY_RETURN,3_DAY_RETURN,7_DAY_RETURN,PX_VOLUME,VOLATILITY_10D,VOLATILITY_30D,LSTM_POLARITY,TEXTBLOB_POLARITY
0,0,RT @robertoglezcano: @amazon #Patents Show Fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Amazon,31/01/2017,823.48,0.008379,0.014924,0.014924,-0.001263,3.137196e+06,1.344700e+01,16.992,1.000,0.000000,NaN
2,1,@FAME95FM1 Jamaicans make money with @Payoneer...,PayPal,31/01/2017,39.780000,0.002011,0.012318,0.012318,5.480141e-02,9.100057e+06,18.769,16.099,-1.000000,0.0
3,2,@CBSi Jamaicans make money with @Payoneer @Pay...,PayPal,31/01/2017,39.780000,0.002011,0.012318,0.012318,5.480141e-02,9.100057e+06,18.769,16.099,1.000000,0.0
4,3,@Hitz92fm Jamaicans make money with @Payoneer ...,PayPal,31/01/2017,39.780000,0.002011,0.012318,0.012318,5.480141e-02,9.100057e+06,18.769,16.099,-1.000000,0.0
5,4,RT @loadsofvans: Retweet this post &amp; follo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Amazon,31/01/2017,823.48,0.008379,0.014924,0.014924,-0.001263,3.137196e+06,1.344700e+01,16.992,-1.000,0.800000,NaN
7,5,RT @Disney: See The Newest Trailer for #Beauty...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Disney,31/01/2017,110.65,0.002621,-0.012201,-0.012201,-0.024853,8.485838e+06,1.222900e+01,12.982,1.000,0.000000,NaN
9,6,RT @tarastrong: Just got @facebook back! I REA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Facebook,31/01/2017,130.32,0.005064,0.014273,0.014273,-0.007290,1.979048e+07,1.512100e+01,16.219,1.000,0.000000,NaN
11,7,"RT @nikitakhara: Thank you, @Starbucks CEO for...",Starbucks,31/01/2017,55.220000,0.012314,0.016298,0.016298,5.831221e-02,1.430798e+07,23.916,17.298,1.000000,0.2
12,8,RT @DrJimmyStar: Check out Mens Encore by Fies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,eBay,31/01/2017,31.83,0.010682,0.021363,0.021363,-0.057807,9.469076e+06,3.302900e+01,22.932,1.000,-0.166667,NaN
14,9,RT @DrJimmyStar: Check out Betsey Johnson Hear...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.tail(13)

,Unnamed: 0,TWEET,STOCK,DATE,LAST_PRICE,1_DAY_RETURN,2_DAY_RETURN,3_DAY_RETURN,7_DAY_RETURN,PX_VOLUME,VOLATILITY_10D,VOLATILITY_30D,LSTM_POLARITY,TEXTBLOB_POLARITY
1395437,862224.0,RT @STrump11: @realDonaldTrump Nap time for Ch...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395438,NaN,Ford,30/09/2018,9.25,0.00,0.0,-0.002162,0.064865,3.098723e+07,23.492,22.989,-1.00,0.00000,NaN
1395439,862225.0,RT @jeffjlopez: I saw this shit on Facebook an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395440,NaN,Facebook,30/09/2018,164.46,0.00,0.0,0.026633,-0.009303,3.426564e+07,26.211,23.132,-1.00,-0.20000,NaN
1395441,862226.0,RT @Rajesh_waran31: The Recent #Sarkar Announc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395442,NaN,Facebook,30/09/2018,164.46,0.00,0.0,0.026633,-0.009303,3.426564e+07,26.211,23.132,-1.00,0.00000,NaN
1395443,862227.0,RT @radiodisney: Tune in to the Radio Disney I...,Disney,30/09/2018,116.94,0.0,0.000000,-0.007696,-5.592612e-02,7366846.000,15.232,13.23,1.00000,0.0
1395444,862228.0,Bitch I got to the checkout and I was ready to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395445,NaN,PayPal,30/09/2018,87.84,0.00,0.0,0.013092,0.031648,7.920916e+06,15.754,23.131,-1.00,0.20000,NaN
1395446,862229.0,RT @RifatJawaid: Deceased Apple executive's br...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395447,NaN,Apple,30/09/2018,225.74,0.00,0.0,-0.003500,-0.035793,2.292936e+07,15.841,20.065,1.00,0.00000,NaN
1395448,862230.0,Flat 6000 INR cashback on HDFC debit and credi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395449,NaN,Samsung,30/09/2018,46450.0,0.00,0.0,0.022605,0.020452,1.127052e+07,31.762,26.970,-1.00,-0.03125,NaN

In [44]:
df.sample(10)

,Unnamed: 0,TWEET,STOCK,DATE,LAST_PRICE,1_DAY_RETURN,2_DAY_RETURN,3_DAY_RETURN,7_DAY_RETURN,PX_VOLUME,VOLATILITY_10D,VOLATILITY_30D,LSTM_POLARITY,TEXTBLOB_POLARITY
1006601,606577.0,RT @aasian: Nike watching y’all burn your Nike...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539315,Next,21/07/2018,6050.0,0.0,0.013223,0.012893,0.009256,4.642590e+05,1.676800e+01,1.900900e+01,1.000,0.142857,NaN,NaN
1011150,609493.0,If this is how they react over Nike supporting...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147641,697140,@JeffBezos This all is nonsense. How can you a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620285,Next,31/07/2018,5936.0,-0.012803234501347708,-0.011456,-0.011456,-0.001685,9.700390e+05,1.352600e+01,1.758800e+01,1.000,0.000000,NaN,NaN
92173,54171,RT @DevanF91: A thread: reason why I chose to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772941,Facebook,14/08/2018,181.11,-0.005852796642924202,-0.004693,-0.004693,0.014908,1.910200e+07,3.091400e+01,6.867300e+01,1.000,0.000000,NaN,NaN
229824,141953.0,RT @EmFarl: Microsoft Word is the most sensiti...,Microsoft,27/10/2018,106.960000,0.000000,0.012528,-4.338070e-02,1.589379e-02,5.552310e+07,51.171,36.208000,1.0000,0.300000
1345530,NaN,Ford,27/09/2018,9.23,0.004334,0.017335,0.039003,6.283857e-02,5.727219e+07,2.455800e+01,23.023,-1.000000,-0.1125,NaN
301761,185999,"Spider-Man Homecoming, Ghost In The Shell &amp...",Shell,31/03/2017,2096.000000,0.012882,0.016221,7.156489e-03,-6.202290e-03,6.741165e+06,13.674,13.676000,1.0000,0.170455

In [27]:
stock_names1 = set(df["TWEET"])
stock_names2 = set(df["STOCK"])

In [45]:
stock_names3 = set(df["Unnamed: 0"])

In [46]:
len(stock_names1), len(stock_names2), len(stock_names3)

(547916, 4242, 1005532)

In [36]:
for idx,(stock1, stock2) in enumerate(zip(stock_names1, stock_names2)):
    if idx%5_00==0:
        print("_____________________")
        print(idx ,stock1)
        print(idx ,stock2)
        print("_____________________")
    if idx==100_000:break

_____________________
0 Check out JOHNNY WAS Los Angeles Royal Rose Polo 1414t Women's Shirt Size M #JohnnyWas #PoloShirt https://t.co/VBllV9nNuF via @eBay
0 5800.0
_____________________
_____________________
500 @ArmyStrang American Anarchist is on Netflix and it's all about the author. It's pretty wild and pretty boring but worth a watch.
500 239.4
_____________________
_____________________
1000 @Ryanair I have a cabin bag which is 50x35x24
This is 5% smaller over all than your size BUT the depth is 4cm bigger. But overall the bag
1000 72.89
_____________________
_____________________
1500 @omarsar0 Google scholar!
1500 79.91
_____________________
_____________________
2000 https://t.co/SCZWvCtgVG
5 Cool things you can do with Facebook messenger via Facebook Customer Service
#CustomerServiceforFacebook
2000 413.5
_____________________
_____________________
2500 I posted a new video to Facebook https://t.co/Guf1dvAcQx
2500 103.6
_____________________
_____________________
3000 #UNetwork testnet was officially released on Aug 20, 2018. Yahoo Finance and Venture Beats both reported on this.… https://t.co/nsXzVAtlza
3000 25/10/2018
_____________________
_____________________
3500 I go in Starbucks so much that the servers have stopped looking at me weirdly when I ask for a straw for my (hot) c… https://t.co/aRDwMonPQE
3500 14.08
_____________________
_____________________
4000 RT @ittfworld: Late invite, but glad you could make it over, Mickey! 🤩

@Disney 🏓 #ITTFWorldCup https://t.co/XuqSYN9xwm
4000 60.83
_____________________

## Creating set of stock names

In [98]:
set_of_stock_names = set()
set_of_dates = set()

In [99]:
def parse_date(stock_name, formats=("%d-%m-%Y", "%d/%m/%Y")): # CHECK FOR OTHER FORMATS
    for fmt in formats:
        try:
            return datetime.strptime(stock_name, fmt)  
        except ValueError:
            continue
    return None

In [100]:
def is_float(stock_name):
    try:
        return float(stock_name)  
    except ValueError:
        return None

In [101]:
weird_symbols = ["@", "#", "*"]
for idx, stock in enumerate(stock_names1):
    # print(stock)
    if isinstance(stock, str): 
        words = stock.split()
        
        if len(words) < 2 and not any(words[0].startswith(symbol) for symbol in weird_symbols):
            stock_name = " ".join(words)
            
            # check for float and continue if true
            if is_float(stock_name) is not None:continue

            # cehck date and add if true
            date = parse_date(stock_name)  
            if date:
                set_of_dates.add(date)  

            # if not float or date, or tweet, it might be a stock name
            else:
                stock_name = stock_name.translate(str.maketrans('', '', string.punctuation))
                set_of_stock_names.add(stock_name)  
                
    # if idx == 10: break

In [103]:
# set_of_stock_names # list(set_of_stock_names)[:10]

In [104]:
len(set_of_stock_names ) # original 547916

90

In [75]:
# set_of_dates

In [105]:
len(set_of_dates )

97

In [113]:
weird_symbols = ["@", "#", "*"]
for idx, stock in enumerate(stock_names2):
    # print(stock)
    if isinstance(stock, str): 
        words = stock.split()
        
        if len(words) < 2 and not any(words[0].startswith(symbol) for symbol in weird_symbols):
            stock_name = " ".join(words)
            
            # check for float and continue if true
            if is_float(stock_name) is not None:continue

            # cehck date and add if true
            date = parse_date(stock_name)  
            if date:
                set_of_dates.add(date)  

            # if not float or date, or tweet, it might be a stock name
            else:
                stock_name = stock_name.translate(str.maketrans('', '', string.punctuation))
                print(stock_name)
                set_of_stock_names.add(stock_name)  
                
    # if idx == 50: break

Viacom
Carrefour
Netflix
Amazon
BMW
Colgate
BlackRock
Samsung
Nike
Chevron
Nissan
salesforcecom
Groupon
Hyundai
Nestle
Thales
TripAdvisor
Ford
Mastercard
HP
Citigroup
Pepsi
Pfizer
Honda
Starbucks
HSBC
Microsoft
SAP
Expedia
GSK
JPMorgan
Ryanair
Burberry
ASOS
Comcast
ATT
Vodafone
Heineken
Sony
Tesco
Visa
Oracle
FedEx
Equinor
UPS
Kroger
IBM
Intel
PayPal
Yahoo
Reuters
Disney
PG
Next
AstraZeneca
BP
Allianz
21CF
Costco
Aviva
Google
CocaCola
Danone
Audi
Exxon
bookingcom
McDonalds
BASF
Boeing
Volkswagen
TMobile
easyJet
Siemens
CBS
Kelloggs
Toyota
adidas
LOreal
eBay
Cisco
Santander
Apple
Facebook
Walmart
Adobe
Gillette
Shell
Verizon
HM
Bayer

In [114]:
len(set_of_stock_names ) ,len(set_of_dates )

(90, 121)

In [115]:
weird_symbols = ["@", "#", "*"]
for idx, stock in enumerate(stock_names3):
    # print(stock)
    if isinstance(stock, str): 
        words = stock.split()
        
        if len(words) < 2 and not any(words[0].startswith(symbol) for symbol in weird_symbols):
            stock_name = " ".join(words)
            
            # check for float and continue if true
            if is_float(stock_name) is not None:continue

            # cehck date and add if true
            date = parse_date(stock_name)  
            if date:
                set_of_dates.add(date)  

            # if not float or date, or tweet, it might be a stock name
            else:
                stock_name = stock_name.translate(str.maketrans('', '', string.punctuation))
                print(stock_name)
                set_of_stock_names.add(stock_name)

bookingcom
easyJet
Expedia
JPMorgan
Reuters
HM
Ford
Next
Microsoft
Boeing
Walmart
ATT
Cisco
TripAdvisor
GSK
Nestle
Adobe
Bayer
Visa
CocaCola
salesforcecom
httpstcorhHEMcQqMJ
httpstcouWh9T5YlBR
PayPal
21CF
Netflix
Samsung
Hyundai
BMW
SAP
Pepsi
Kroger
Thales
BASF
Carrefour
Siemens
BP
BlackRock
Viacom
Google
Heineken
Allianz
Gillette
Amazon
tha…
httpstcojckDXVZ…
Kelloggs
PG
LOreal
eBay
Nissan
Disney
Starbucks
Comcast
Toyota
Oracle
Costco
adidas
HP
Volkswagen
Ryanair
IBM
Danone
Tesco
Yahoo
Exxon
Intel
Shell
Vodafone
Honda
HSBC
Chevron
Groupon
Santander
ASOS
Sony
Aviva
CBS
Burberry
FedEx
Nike
Verizon
Audi
Equinor
Apple
Facebook
Colgate
htt…
Pfizer
show
TMobile
Mastercard
UPS
ActionThriller
AstraZeneca
McDonalds
Citigroup

In [116]:
len(set_of_stock_names ) ,len(set_of_dates )

(97, 121)

In [119]:
sorted(set_of_dates)

[datetime.datetime(2017, 1, 31, 0, 0),
 datetime.datetime(2017, 2, 1, 0, 0),
 datetime.datetime(2017, 2, 28, 0, 0),
 datetime.datetime(2017, 3, 1, 0, 0),
 datetime.datetime(2017, 3, 31, 0, 0),
 datetime.datetime(2017, 4, 1, 0, 0),
 datetime.datetime(2017, 4, 28, 0, 0),
 datetime.datetime(2017, 4, 29, 0, 0),
 datetime.datetime(2017, 5, 31, 0, 0),
 datetime.datetime(2017, 6, 1, 0, 0),
 datetime.datetime(2017, 6, 30, 0, 0),
 datetime.datetime(2017, 7, 1, 0, 0),
 datetime.datetime(2017, 7, 31, 0, 0),
 datetime.datetime(2017, 8, 1, 0, 0),
 datetime.datetime(2017, 8, 31, 0, 0),
 datetime.datetime(2017, 9, 1, 0, 0),
 datetime.datetime(2017, 9, 29, 0, 0),
 datetime.datetime(2017, 9, 30, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 1, 0, 0),
 datetime.datetime(2017, 11, 30, 0, 0),
 datetime.datetime(2017, 12, 1, 0, 0),
 datetime.datetime(2017, 12, 29, 0, 0),
 datetime.datetime(2017, 12, 30, 0, 0),
 datetime.datetime(2018, 7, 11, 0, 0),
 datetime.datetime(2018, 7, 12, 0, 0),
 datetime.datetime(2018, 7, 13, 0, 0),
 datetime.datetime(2018, 7, 14, 0, 0),
 datetime.datetime(2018, 7, 15, 0, 0),
 datetime.datetime(2018, 7, 16, 0, 0),
 datetime.datetime(2018, 7, 17, 0, 0),
 datetime.datetime(2018, 7, 18, 0, 0),
 datetime.datetime(2018, 7, 19, 0, 0),
 datetime.datetime(2018, 7, 20, 0, 0),
 datetime.datetime(2018, 7, 21, 0, 0),
 datetime.datetime(2018, 7, 22, 0, 0),
 datetime.datetime(2018, 7, 23, 0, 0),
 datetime.datetime(2018, 7, 24, 0, 0),
 datetime.datetime(2018, 7, 25, 0, 0),
 datetime.datetime(2018, 7, 26, 0, 0),
 datetime.datetime(2018, 7, 27, 0, 0),
 datetime.datetime(2018, 7, 28, 0, 0),
 datetime.datetime(2018, 7, 29, 0, 0),
 datetime.datetime(2018, 7, 30, 0, 0),
 datetime.datetime(2018, 7, 31, 0, 0),
 datetime.datetime(2018, 8, 1, 0, 0),
 datetime.datetime(2018, 8, 2, 0, 0),
 datetime.datetime(2018, 8, 3, 0, 0),
 datetime.datetime(2018, 8, 4, 0, 0),
 datetime.datetime(2018, 8, 5, 0, 0),
 datetime.datetime(2018, 8, 6, 0, 0),
 datetime.datetime(2018, 8, 7, 0, 0),
 datetime.datetime(2018, 8, 8, 0, 0),
 datetime.datetime(2018, 8, 9, 0, 0),
 datetime.datetime(2018, 8, 10, 0, 0),
 datetime.datetime(2018, 8, 11, 0, 0),
 datetime.datetime(2018, 8, 12, 0, 0),
 datetime.datetime(2018, 8, 13, 0, 0),
 datetime.datetime(2018, 8, 14, 0, 0),
 datetime.datetime(2018, 8, 15, 0, 0),
 datetime.datetime(2018, 8, 16, 0, 0),
 datetime.datetime(2018, 8, 17, 0, 0),
 datetime.datetime(2018, 8, 18, 0, 0),
 datetime.datetime(2018, 8, 19, 0, 0),
 datetime.datetime(2018, 8, 20, 0, 0),
 datetime.datetime(2018, 8, 21, 0, 0),
 datetime.datetime(2018, 8, 22, 0, 0),
 datetime.datetime(2018, 8, 23, 0, 0),
 datetime.datetime(2018, 8, 24, 0, 0),
 datetime.datetime(2018, 8, 25, 0, 0),
 datetime.datetime(2018, 8, 26, 0, 0),
 datetime.datetime(2018, 8, 27, 0, 0),
 datetime.datetime(2018, 8, 28, 0, 0),
 datetime.datetime(2018, 8, 29, 0, 0),
 datetime.datetime(2018, 8, 30, 0, 0),
 datetime.datetime(2018, 8, 31, 0, 0),
 datetime.datetime(2018, 9, 1, 0, 0),
 datetime.datetime(2018, 9, 2, 0, 0),
 datetime.datetime(2018, 9, 3, 0, 0),
 datetime.datetime(2018, 9, 4, 0, 0),
 datetime.datetime(2018, 9, 5, 0, 0),
 datetime.datetime(2018, 9, 6, 0, 0),
 datetime.datetime(2018, 9, 7, 0, 0),
 datetime.datetime(2018, 9, 8, 0, 0),
 datetime.datetime(2018, 9, 9, 0, 0),
 datetime.datetime(2018, 9, 10, 0, 0),
 datetime.datetime(2018, 9, 11, 0, 0),
 datetime.datetime(2018, 9, 12, 0, 0),
 datetime.datetime(2018, 9, 13, 0, 0),
 datetime.datetime(2018, 9, 14, 0, 0),
 datetime.datetime(2018, 9, 15, 0, 0),
 datetime.datetime(2018, 9, 16, 0, 0),
 datetime.datetime(2018, 9, 17, 0, 0),
 datetime.datetime(2018, 9, 18, 0, 0),
 datetime.datetime(2018, 9, 19, 0, 0),
 datetime.datetime(2018, 9, 20, 0, 0),
 datetime.datetime(2018, 9, 21, 0, 0),
 datetime.datetime(2018, 9, 22, 0, 0),
 datetime.datetime(2018, 9, 23, 0, 0),
 datetime.datetime(2018, 9, 24, 0, 0),
 datetime.datetime(2018, 9, 25, 0, 0),
 datetime.datetime(2018, 9, 26, 0, 0),
 datetime.datetime(2018, 9, 27, 0, 0),
 datetime.datetime(2018, 9, 28, 0, 0),
 datetime.datetime(2018, 9, 29, 0, 0),
 datetime.datetime(2018, 9, 30, 0, 0),
 datetime.datetime(2018, 10, 1, 0, 0),
 datetime.datetime(2018, 10, 2, 0, 0),
 datetime.datetime(2018, 10, 18, 0, 0),
 datetime.datetime(2018, 10, 19, 0, 0),
 datetime.datetime(2018, 10, 20, 0, 0),
 datetime.datetime(2018, 10, 21, 0, 0),
 datetime.datetime(2018, 10, 22, 0, 0),
 datetime.datetime(2018, 10, 23, 0, 0),
 datetime.datetime(2018, 10, 24, 0, 0),
 datetime.datetime(2018, 10, 25, 0, 0),
 datetime.datetime(2018, 10, 27, 0, 0),
 datetime.datetime(2018, 10, 28, 0, 0),
 datetime.datetime(2018, 10, 29, 0, 0),
 datetime.datetime(2018, 10, 30, 0, 0),
 datetime.datetime(2018, 10, 31, 0, 0)]

In [120]:
sorted(set_of_stock_names)

['21CF',
 'ASOS',
 'ATT',
 'ActionThriller',
 'Adobe',
 'Allianz',
 'Amazon',
 'Apple',
 'AstraZeneca',
 'Audi',
 'Aviva',
 'BASF',
 'BMW',
 'BP',
 'Bayer',
 'BlackRock',
 'Boeing',
 'Burberry',
 'CBS',
 'Carrefour',
 'Chevron',
 'Cisco',
 'Citigroup',
 'CocaCola',
 'Colgate',
 'Comcast',
 'Costco',
 'Danone',
 'Disney',
 'Equinor',
 'Expedia',
 'Exxon',
 'Facebook',
 'FedEx',
 'Ford',
 'GSK',
 'Gillette',
 'Google',
 'Groupon',
 'HM',
 'HP',
 'HSBC',
 'Heineken',
 'Honda',
 'Hyundai',
 'IBM',
 'Intel',
 'JPMorgan',
 'Kelloggs',
 'Kroger',
 'LOreal',
 'Mastercard',
 'McDonalds',
 'Microsoft',
 'Nestle',
 'Netflix',
 'Next',
 'Nike',
 'Nissan',
 'Oracle',
 'PG',
 'PayPal',
 'Pepsi',
 'Pfizer',
 'Reuters',
 'Ryanair',
 'SAP',
 'Samsung',
 'Santander',
 'Shell',
 'Siemens',
 'Sony',
 'Starbucks',
 'TMobile',
 'Tesco',
 'Thales',
 'Toyota',
 'TripAdvisor',
 'UPS',
 'Verizon',
 'Viacom',
 'Visa',
 'Vodafone',
 'Volkswagen',
 'Walmart',
 'Yahoo',
 'adidas',
 'bookingcom',
 'eBay',
 'easyJet',
 'httpstcojckDXVZ…',
 'httpstcorhHEMcQqMJ',
 'httpstcouWh9T5YlBR',
 'htt…',
 'salesforcecom',
 'show',
 'tha…']